  <h5 class ="bg-light">ジャンル編集</h5>
   <table>
     <thead>
       <tbody>
         <tr>
         <th>ジャンル名</th>
         <td>
         　 <%= form_with model:@genre, url: admin_genre_path(@genre), method: :patch do |f| %>
         　 <%= f.text_field :name %>
         　<%= f.submit '変更を保存', class:"btn btn-outline-success" %>
         　<% end %>
         </td>
         </tr>
       </tbody>
     </thead>
   </table>

